body {
  margin: 0;
}

.dashboard {
  display: grid;
  grid-template-columns: 290px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas: "sidebar header" "sidebar content";
  min-height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  background: #000;
  padding: 20px;
  color: aliceblue;
}

.header {
  grid-area: header;
  background-color: aliceblue;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}

.content {
  grid-area: content;
  padding: 20px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.stats-card {
  background-color: #000;
  color: aliceblue;
  padding: 20px;
}

/* ----- Planshet -----*/
@media (max-width: 992px) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }

  .dashboard {
    grid-template-columns: 200px 1fr;
  }
}

/* ----- Mobile -----*/

@media (max-width: 700px) {
  .sidebar {
    display: none;
  }

  .dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "header" "content";
  }

  .stats {
    grid-template-columns: 1fr;
  }
}
