.container {
  display: grid;
  grid-template-areas: "header header" "sidebar main" "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 1fr 60px;
}

.header {
  grid-area: header;
  background-color: red;
}

.sidebar {
  grid-area: sidebar;
  background-color: aqua;
  height: 100vh;
}

.main {
  grid-area: main;
  background-color: blue;
}

.footer {
  grid-area: footer;
  background-color: blueviolet;
}
