* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px;
  background-color: #eceff3;
}

.max-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1050px;
  margin: 0 auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

h2 {
  color: black;
}

.block-link-2 {
  display: flex;
  gap: 30px;
}

.block-link-2 a {
  text-decoration: none;
  color: black;
}

nav {
  padding: 10px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1050px;
  margin: 0 auto;
  gap: 20px;
}

.banner-1 {
  width: 100%;
  height: 300px;
  background-color: aqua;
}

.banner-1,
img {
  width: 100%;
}

.categories-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 45px;
}

.categories-1 {
  width: 245px;
  height: 50px;
  background-color: #efefef;
}

.product-wrapper-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.products-card {
  display: flex;
  gap: 20px;
}

.product-1 {
  width: 270px;
  height: 300px;
  background-color: #efefef;
}

.product-2 {
  width: 270px;
  height: 300px;
  background-color: #efefef;
}

.product-3 {
  width: 250px;
  height: 300px;
  background-color: #efefef;
}

.product-4 {
  width: 280px;
  height: 300px;
  background-color: #efefef;
}
