* {
  margin: 0px;
}

body {
  font-family: "Nerko One", cursive;
  background-color: rgb(166, 237, 246);
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: rgb(65, 65, 246);
  padding: 20px;
  color: #fff;
}

.sidebar,
ul,
li,
a {
  color: #fff;
  text-decoration: none;
  list-style: none;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: yellow;
  width: 100%;
  padding: 10px;
}

.content {
  flex: 1;
  padding: 20px;
}
