* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

/* ===== Main Layout ==== */
.layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  height: 100vh;
}

/* ===== SideBar Layout ==== */
.sidebar {
  background-color: #f5f5f5;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.logo {
  font-size: 25px;
  font-weight: 700;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu a {
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.menu a.active {
  background-color: #fff;
  color: #184e30;
  font-weight: 600;
  border-left: 5px solid #184e30;
}

/* ===== Main  ==== */
.main {
  padding: 25px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

/* ===== Main (Header)  ==== */
.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px;
  align-items: center;
  background-color: #f5f5f5;
  padding: 15px 20px;
  border-radius: 20px;
}

.actions {
  display: flex;
  gap: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  object-fit: cover;
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 40px;
  border-radius: 20px;
  gap: 20px;
}

.dashboard-wrapper-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dash-action {
  display: flex;
  gap: 10px;
}

.dashboard-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(140px, auto);
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
}

.wrapper-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .card.big {
  grid-column: span 2;
} */

.analytics {
  grid-column: span 2;
}

.reminders {
  grid-column: span 1;
}

.project {
  grid-column: span 1;
}
