body {
  background-color: blue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

form {
  background-color: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 40px;
  box-shadow: 2px 5px 10px rgb(34, 30, 39);
}

.from-control {
  text-align: left;
  margin-bottom: 25px;
}

.from-control label {
  display: block;
  margin-bottom: 10px;
}

.from-control input,
.from-control select,
.from-control textarea {
  border: 1px solid #777;
  border-radius: 5px;
  padding: 10px;
  display: block;
  width: 95%;
}

.from-control input[type="radio"],
.from-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
}
