.container {
  display: grid;
  grid-template-areas: "header header" "sidebar main" "footer footer";
  grid-template-columns: 400px;
  grid-template-rows: 80px 1fr 60px;
}

.header {
  grid-area: header;
  background-color: aqua;
}

.sidebar {
  grid-area: sidebar;
  height: 100vh;
  background-color: blue;
  color: aliceblue;
}

.main {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: blueviolet;
}

.content-card {
  display: grid;
  grid-template-columns: 800px 1fr 80px;
  align-items: center;
  background-color: beige;
}

.content-card-2 {
  display: grid;
  grid-template-columns: 800px 1fr 80px;
}

.footer {
  grid-area: footer;
  background-color: chartreuse;
  text-align: center;
}

ul {
  display: grid;
  align-items: center;
  gap: 10px;
}
