body {
  font-family: "Nerko One", cursive;
}

.container {
  display: grid;
  grid-template-areas: "header header" "sidebar main" "footer footer";
  grid-template-columns: 400px;
  grid-template-rows: 80px 1fr 60px;
}

.header {
  grid-area: header;
  background-color: aqua;
}

.sidebar {
  grid-area: sidebar;
  height: 100vh;
  background-color: blue;
  color: aliceblue;
}

.main {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: blueviolet;
}

.analytics {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1);
  grid-template-areas: "k1 k2 k3" "chart chart table";
}

.kpi:nth-child(1) {
  grid-area: k1;
  height: 300px;
  background-color: rgb(58, 226, 43);
  border-radius: 10px;
}

.kpi:nth-child(2) {
  grid-area: k2;
  height: 300px;
  background-color: rgb(231, 232, 238);
  border-radius: 10px;
}

.kpi:nth-child(3) {
  grid-area: k3;
  height: 300px;
  background-color: rgb(206, 188, 201);
  border-radius: 10px;
}

.footer {
  grid-area: footer;
  background-color: chartreuse;
  text-align: center;
}
